* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111;
}

/* ----------------------------Nombre de la seccion---------------------------- */

.popu {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  gap: 1rem;
  padding: 1rem;
  margin: 4rem auto;
}

.popu-title {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0.5rem 3.5rem;
  font-size: 22px;
  color: #fff;
}

.popu-card-container {
  display: flex;
  justify-content: center;
  margin: auto 1rem;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.popu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.5rem;
  width: 282px;
  height: 213px;
  border-radius: 15px;
  background-color: #252525;
}

.popu-img-container {
  display: flex;
}

.popu-img-container img {
  width: 237px;
  height: 97px;
  border-radius: 16px;
  object-fit: cover;
}

.popu-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

.popu-eslogan {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  opacity: 0.3;
}

.popu-precio-btn-container {
  display: flex;
  justify-content: space-between;
}

.popu-precio {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 19px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popu-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  border-style: none;
  border-radius: 17.5px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  transition: 0.2s;
}

.popu-btn:hover {
  background: linear-gradient(98.81deg, #ff005c -0.82%, #ffa100 101.53%);
}

.popu-btn:active {
  transform: scale(0.9);
}
/* ---------------------------------------------------------------------------- */
